#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80x;
    background: #00a087;
    color: #e8fdff;
    padding: 0px 2em 0px 2em
}

#nav-bar .logo {
    float: left;
    height: 80px;
    width: 80px
}


#nav-bar .header {
    float:left;
    padding-left: 10px;
    font-size: 200%;
    line-height: 80px;
}

#nav-bar button {
    height: 60px;
    width: 120px;
    margin-top: 10px;
    padding: 0;    
    float: right;
    color: #00a087;
    background-color: #e8fdff;
    border-radius: 5px;
    border: solid 1.5px black;
}

#nav-bar button:hover {
    color:black;
    background-color:white;
    border-color: #015043
}