.tweet {
    height: auto;
    margin: 2em; 
    border-style:solid;
    border-width: thin;
    border-radius: 5px;
    border-color: #bdb3b3; 
}

.tweet:hover {
    border-color: #5c5c5c
}
.tweet header {
    right: 0;
    left: 0;
    background-color:#ececec
}

.tweet:hover header {
    background-color:#acacac
}

.tweet header img {
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 5px;
    float: left;
}

.tweet h2, span {
    display: inline-block;
}

.tweet header h2 {
    margin: 10px;
}

.tweet header span {
    margin: 0;
    float: right;
    padding-top: 15px;
    padding-right: 16px;
}

.tweet p {
    margin: 40px 20px;
}

.tweet footer {
    padding: 10px;
    border-top: 1px solid #bdb3b3;
    font-size: 90%
}

.tweet footer svg {
    opacity: 0;
    float: right;
    height: 20px;
    width: 20px;
    margin: 5px;
    color: #2a6a6a
}

.tweet:hover footer svg {
    opacity: 100;
}


/* Set up images in original tweet footer, opacity:0 */
/* Separate hover state with opacity @ 100 */
