#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #00a087;
    color: #e8fdff;
    padding: 0px 2em 0px 2em
}

#nav-bar .logo {
    float: left;
    height: 80px;
    width: 80px
}

#nav-bar .header {
    float:left;
    padding-left: 10px;
    font-size: 200%;
    line-height: 80px;
}