.tweet {
    height: auto;
    margin: 2em; 
    border-style:solid;
    border-width: thin;
    border-radius: 5px;
    border-color: #bdb3b3; 
}

.tweet header {
/*     line-height: 75px; */
    right: 0;
    left: 0;
    background-color:#ececec
}

.tweet .profile {
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 5px;
    float: left;
   
}

.tweet .username, .handle {
    display: inline-block;
}

.tweet .username {
    margin: 10px;
}

.tweet .handle {
    margin: 0;
    float: right;
    padding-top: 15px;
    padding-right: 16px;
}

.tweet article {
    margin: 40px 20px;
}

.tweet footer {
    padding: 10px;
    border-top: 1px solid #bdb3b3;
    font-size: 80%
/*     margin: 10px 10px; */
/*     float: bottom; */
}